__pycache__/
*.py[cod]
*.egg-info/
.coverage
.pytest_cache/
.ruff_cache/
.venv/
build/
dist/
output/
*.png
*.webp
!.github/**/*.png
!docs/**/*.png
!examples/**/*.png
!src/ogimg/**/*.png
!src/ogimg/**/*.webp

